/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
header {
  background-color: #515151;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div {
  display: flex;
  align-items: center;
  margin: 10px;
}
header img {
  margin-right: 25px;
}
a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background-image: url("/img/2.jpg");
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  height: 20.8px;
}
.cta-button:hover {
  background-color: #e64a19;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.event {
  text-align: center;
  margin: 20px;
}
.event img {
  max-width: 100%;
  height: 200px;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  width: 100%;
  bottom: 0;
  height: 50px;
}

/* Estilos del carrusel */
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.carousel-slide {
  flex: 0 0 100%;
}

.carousel img {
  width: 100%;
  height: auto;
}

.content_visualizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.events_visualizar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 450px;
  margin-top: 20px;
}
.events_visualizar h1 {
  width: 50%;
  background-color: blue;
}
.events_visualizar img {
  height: 80%;
}
.events_visualizar button {
  height: 20px;
}
.busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 5px;
}
.busqueda p {
  font-weight: bold;
  font-size: 30px;
}
.busqueda input {
  width: 800px;
  height: 30px;
  margin: 10px;
}
