/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Estilos del carrusel */
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.carousel-slide {
    flex: 0 0 100%;
}

.carousel img {
    width: 100%;
    height: auto;
}

/* Estilos de los botones de navegación */
.carousel-prev, .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    transform: translateY(-50%);
}
.carousel-prev {
    left: 0;
}
.carousel-next {
    right: 0;
}
.carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
